.manage-container {
    margin-left: 10px;

    .title {
        font-size: 20px;
        font-weight: 100;
        background-color: gainsboro;
        border-radius: 10px;
    }

    .btn-add-new {
        margin-top: 10px;
    }

    .table-container {
        margin: 10px 0;
    }
}

.modal-create-medicine,
.modal-update-medicine {
    .nav-tabs {
        .nav-link {
            font-size: 15px;
            font-weight: 500;
        }
    }

    .unit-conversion-tab {
        .table {
            th {
                font-size: 13px;
                font-weight: 600;
            }
            td {
                vertical-align: middle;
            }
        }
    }
}
